/* Temporary "UNCORRECTED PROOF" Banner */
@media screen {
  .quire::before,
  .quire::after {
    color: black;
    font-weight: 700;
    position: fixed;
    width: 230px;
    height: 230px;
    z-index: 4000;
    transform: rotate(-45deg);
    text-align: center;
    padding-top: 1rem;
  }
  .quire::before {
    content: "FIRST";
    background-color: cyan;
    bottom: -115px;
    right: -115px;
  }
  .quire::after {
    content: "PAGES";
    bottom: -130px;
    right: -130px;
  }
}

/* GENERAL PAGE & TYPE STYLES
============================================================================= */
/* Use a custom .backmatter class to make pages 2-column in PDF */
@media print {
  .backmatter .quire-page__content {
    column-count: 2;
    column-fill: balance;
    column-gap: 0.1875in;
    max-width: 100%;
    margin: 0;
  }
}

/* FIGURES
============================================================================= */
/* Fix display of annotations controls inline and in lightbox */
.annotations-ui__input-wrapper {
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-size: .75rem;
  font-weight: bold;
  margin-right: 1rem;
}
q-lightbox .q-figure-slides__slide-ui {
  flex-direction: column-reverse;
  align-items: flex-start;
}
q-lightbox .q-figure-slides__slide-ui form {
  width: 100%;
}

/* Ensure users can scroll past inline canvas-panel elements */
.content .q-figure canvas-panel {
  pointer-events: none;
}

/* Fix styling of very tall figure images */
@media screen {
  .content figure img.q-figure__image {
    max-height: 80vh;
    width: auto;
  }
  .content figure.screen-side-by-side {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 1rem;
  } 
  .content figure.screen-side-by-side > *:first-child {
    grid-row: 1 / 3;
  }
  .content figure.screen-side-by-side > *:last-child {
    grid-column-start: 2;
  }
  .content figure.screen-side-by-side .q-figure__caption {
    margin-top: 0;
  }
}
@media print {
  .content figure img.q-figure__image {
    max-height: 3.25in;
    width: auto;
  }
}

/* Improve legibility of caption in lightbox modal */
.q-figure-slides__slide-ui {
  font-size: 1rem;
  padding-bottom: 0;
}
.q-lightbox-slides__caption, 
.q-figure-slides__slide-ui .annotations-ui {
  background: rgba(0, 0, 0, 0.8);
  padding: .75rem 2rem 2rem;
}
.q-lightbox-slides__caption strong {
  color: white;
}

/* Handle checkbox and radio annotation image layers in print
  See _includes/components/figure/image/print.js */
  @media print {
  .q-figure .q-figure__layers-group--checkbox {
    position: relative;
  }
  .q-figure .q-figure__layers-group--checkbox .q-figure__image:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
  }
  .q-figure .q-figure__layers-group--radio {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
  }
  .q-figure .q-figure__layers-group--radio.q-figure__layers-group--5 .q-figure__image {
    width: 20%;
  }
  .q-figure .q-figure__layers-group--radio.q-figure__layers-group--4 .q-figure__image {
    width: 25%;
  }
  .q-figure .q-figure__layers-group--radio.q-figure__layers-group--3 .q-figure__image {
    width: 33%;
  }
  .q-figure .q-figure__layers-group--radio.q-figure__layers-group--2 .q-figure__image {
    width: 50%;
  }
  /* https://stackoverflow.com/questions/36230944/prevent-flex-items-from-overflowing-a-container */
  .q-figure .q-figure__layers-group--radio .q-figure__image {
    min-width: 0;
  }
}

/* Add special color bar graphic inside fig. 16.10 caption */
#fig-16-10-color-scale {
  width: 8em;
  height: .875em;
  display: inline-block;
  background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(7, 27, 68, 1) 50%, rgba(255, 0, 0, 1) 100%);
  top: 1px;
  position: relative;
}

/* Fix display of images in tables */
.q-lightbox-slides__element table img {
  position: relative;
  transform: none;
  top: 0;
  left: 0;
  max-height: 300px;
}

/* Adjust figure image heights */
@media print {
  .pdf-2q2in-height .q-figure__image {
    max-height: 2.5in !important;
    width: auto;
  }
  .pdf-2q3in-height .q-figure__image {
    max-height: 2.75in !important;
    width: auto;
  }
  .pdf-3in-height .q-figure__image {
    max-height: 3in !important;
    width: auto;
  }
  .pdf-3q2in-height .q-figure__image {
    max-height: 3.5in !important;
    width: auto;
  }
  .pdf-3q3in-height .q-figure__image {
    max-height: 3.75in !important;
    width: auto;
  }
  .pdf-4in-height .q-figure__image {
    max-height: 4in !important;
    width: auto;
  }
  .pdf-5in-height .q-figure__image {
    max-height: 5in !important;
    width: auto;
  }
  .pdf-6in-height .q-figure__image {
    max-height: 6in !important;
    width: auto;
  }
  .pdf-7in-height .q-figure__image {
    max-height: 7in !important;
    width: auto;
  }
  
  @media print{
  /* Adjust figure table widths */
    .q-figure.pdf-table-scale-4 {
      font-size: 0.4rem;
    }
    .q-figure.pdf-table-scale-5 {
      font-size: 0.5rem;
    }
    .q-figure.pdf-table-scale-6 {
      font-size: 0.6rem;
    }
    .q-figure.pdf-table-scale-7 {
      font-size: 0.7rem;
    }
    .q-figure.pdf-table-scale-8 {
      font-size: 0.8rem;
    }
  
  /* Limit image size in tables to .5 in wide */
    table img {
      max-width: 0.5in !important;
      height: auto;
    }
  }

  /* Set figure images to span both columns and to float to top, only works with prince */
  .q-figure.pdf-two-column-width {
    column-span: all;
    float: none;
    -prince-float: top;
    margin-top: 0 !important;
  }
}

/* MISC
============================================================================= */
/*Get rid of decorative quote */
.quire-page__content .container .content blockquote p:first-child:before, .quire-page__content .container .content blockquote ul:first-child:before, .quire-page__content .container .content blockquote ol:first-child:before, .quire-page__content .container .content blockquote dl:first-child:before, .quire-page__content .container .content blockquote h1:first-child:before, .quire-page__content .container .content blockquote h2:first-child:before, .quire-page__content .container .content blockquote h3:first-child:before, .quire-page__content .container .content blockquote h4:first-child:before, .quire-page__content .container .content blockquote h5:first-child:before, .quire-page__content .container .content blockquote h6:first-child:before {
  display: none;
}

/* Fix font sizing for table captions and footnotes */
.content figure .q-figure__caption {
  font-size: .75rem;
}
.q-lightbox-slides__element--table table + div,
.q-figure.q-figure--table table + div {
  font-size: .875em;
  margin-top: .25em;
  text-align: left;
}
.q-lightbox-slides__element--table table + div p,
.q-figure.q-figure--table table + div p {
  margin-bottom: .25em;
  line-height: 1.6 !important;
}

/* ABOUT & COPYRIGHT PAGES
============================================================================= */
/* Remove extra space between publisher and address on copyright and about page */
div.publisher p:first-child {
  margin-bottom: 0 !important;
}
/* Hide logo */
.copyright > .quire-copyright .copyright__publisher-logo {
  display: none;
}
/* Remove link border style from CC icons */
.quire-page__content .content .copyright .quire-copyright a:not(.q-figure__modal-link):not(.q-figure__reset-link):not(.quire-contributor__url):not(.accordion-section__heading-link),
.quire-page__content .content .copyright .quire-copyright a:not(.q-figure__modal-link):not(.q-figure__reset-link):not(.quire-contributor__url):not(.accordion-section__heading-link):hover {
  border-bottom-width: 0;
}
/* Simplify project team list */
.project-team ul {
  margin-left: 0;
  margin-bottom: 1em;
  margin-top: 1em;
}
.project-team ul li {
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}
.project-team ul li::before {
  content: '' !important;
}
/* Remove space below image credits heading */
.cover-image-credits .illustration-credits-heading {
  margin-bottom: 0 !important;
}