/* Temporary "UNCORRECTED PROOF" Banner */
@media screen {
  .quire::before,
  .quire::after {
    color: black;
    font-weight: 700;
    position: fixed;
    width: 230px;
    height: 230px;
    z-index: 4000;
    transform: rotate(-45deg);
    text-align: center;
    padding-top: 1rem;
  }
  .quire::before {
    content: "FIRST";
    background-color: cyan;
    bottom: -115px;
    right: -115px;
  }
  .quire::after {
    content: "PAGES";
    bottom: -130px;
    right: -130px;
  }
}

/* FIGURES
============================================================================= */
/* Fix display of annotations controls inline and in lightbox */
.annotations-ui__input-wrapper {
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-size: .75rem;
  font-weight: bold;
  margin-right: 1rem;
}
q-lightbox .q-figure-slides__slide-ui {
  flex-direction: column-reverse;
  align-items: flex-start;
}
q-lightbox .q-figure-slides__slide-ui form {
  width: 100%;
}
